body{
  margin: 0;
}
header{
 background-color: #eaeaea; 
 position: sticky;
 top:0;
 z-index: 1000;
 box-shadow: 3px 3px 5px rgba(0,0,0,0.2)
}
.header-container{
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;

}

.desktop-nav  ul{
  display: flex;
  justify-content: space-between;
  gap:1rem;
  list-style-type: none;
}
.mobile-nav {
  display:none;
  position: absolute;
  top:100%;
  width:100%;
  right:0;
  background-color: #eaeaea;
  backdrop-filter: blur(10px);
 box-shadow: -10px 0 10px rgba(0,0,0,0.1);
  text-align: center;
}

.mobile-nav ul{
  list-style-type: none;
}
.mobile-nav li{
  padding-bottom:10px;
}
a{
  color:black;
  text-decoration: none;
}
.hamburger-btn{
  background: transparent;
  border: 1px solid;
  display:none;
}

.hamburger-btn .line{
  transition: 
    y 300ms ease-in 300ms,
    rotate 300ms ease-in ,
    opacity 0ms 300ms;
  
  transform-origin: center;
}
.hamburger-btn.active .line{
  transition:
    y 200ms ease-in,
    rotate 200ms ease-in 200ms,
    opacity 0ms 200ms;
}
.hamburger-btn.active :is(.top, .bottom){
  y: 45px;
 }

.hamburger-btn.active .top {
  rotate: 45deg;
 }
.hamburger-btn.active .bottom {
  rotate: -45deg;
 }
.hamburger-btn.active .mid {
  opacity: 0;
}
@media(max-width:768px)  {
  .desktop-nav{
    display:none;
  }
  .hamburger-btn{
    display: block;
  }
}




